body
{
    margin: 0;
    padding: 0;
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596113333845&di=33e81ca3e9e1df5925834c7b17432cee&imgtype=0&src=http%3A%2F%2Fwww.005.tv%2Fuploads%2Fallimg%2F190315%2F65-1Z315101144293.jpg);	/* 背景图片 */
    background-repeat: no-repeat;	/* 背景图片不重复 */
}
.btn-shine {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #fff;
    background: linear-gradient(to right, #fff 0, #4d4d4d 10%, #fff 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    white-space: nowrap;
}
@-moz-keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 280px;
    }
    100% {
        background-position: 280px;
    }
}
@-webkit-keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 280px;
    }
    100% {
        background-position: 280px;
    }
}
@-o-keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 280px;
    }
    100% {
        background-position: 280px;
    }
}
@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 280px;
    }
    100% {
        background-position: 280px;
    }
}
.formLogin {
    padding: 20px 50px;	/* login框内部的距离(内部与输入框和按钮的距离) */
    background-color: #00000090;	/* login框背景颜色和透明度 */
    width: 400px;
    height: 350px;
    border-radius: 10px;	/* 圆角边 */
    text-align: center;	/* 框内所有内容剧中 */
}
.formLogin h3 {
    color: white;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Raleway;
    background-color: #ecf0f1;
}

.copyright {
    position: absolute;
    bottom: 0;
}
.copyright a {
    text-decoration: none;
    color: #16a085;
}
.copyright a:hover {
    text-decoration: underline;
}

.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}

.button.type3 {
    color: #fffffc;
}
.button.type3.type3::after, .button.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}
.button.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #fffffc;
    border-right-color: #fffffc;
}
.button.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #fffffc;
    border-left-color: #fffffc;
}
.button.type3.type3:hover:after, .button.type3.type3:hover:before {
    border-bottom-color: #fffffc;
    border-right-color: #fffffc;
    border-top-color: #fffffc;
    border-left-color: #fffffc;
    width: 100%;
    height: 100%;
}
.form input {
    border: 0!important;	/* 删除输入框边框 */
    padding: 10px 10px!important;	/* 输入框内的间距 */
    border-bottom: 1px solid white!important;	/* 输入框白色下划线 */
    background-color: #00000000!important;	/* 输入框透明 */
    color: white!important;	/* 输入字体的颜色 */
}